<a href="https://colab.research.google.com/github/JuliaPrin3298/Algoritimos-/blob/main/Lista_e_Vetores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Vetores ou Listas

1. Crie uma lista com 5 números inteiros e exiba cada número ao quadrado.

In [4]:
numeros = [11, 12, 13, 14, 15]

for numero in numeros:
    quadrado = numero ** 2
    print(f"O quadrado de {numero} é {quadrado}")

O quadrado de 11 é 121
O quadrado de 12 é 144
O quadrado de 13 é 169
O quadrado de 14 é 196
O quadrado de 15 é 225

2. Peça ao usuário para digitar 5 nomes e armazene-os em uma lista. Depois, exiba os nomes um por um.

In [7]:
nomes = []

for i in range(5):
  nome = input(f"Digite o nome: ")
  nomes.append(nome)

print("\nNomes Armazenados:")
for nome in nomes:
  print(nome)

Digite o nome: Julia
Digite o nome: Pedro
Digite o nome: Elaine
Digite o nome: Fernando
Digite o nome: Alberto

Nomes Armazenados:
Julia
Pedro
Elaine
Fernando
Alberto

3. Crie uma lista com 10 números e mostre apenas os números pares.

In [14]:
numeros = [1, 2, 3, 4, 5 ,6 ,7 ,8, 9, 10]

for numero in numeros:
  if numero % 2 == 0:
   print(f"Esse número é par, {numero}")

Esse número é par, 2
Esse número é par, 4
Esse número é par, 6
Esse número é par, 8
Esse número é par, 10

4. Some todos os elementos de uma lista de inteiros digitados pelo usuário.

In [18]:
numeros = []

while True:
  numero = int(input("Digite um número (ou '0' para encerrar): "))
  if numero ==  0 :
    break
  numeros.append(numero)

soma = sum(numeros)
print(f"A soma dos números é: {soma}")

Digite um número (ou '0' para encerrar): 1
Digite um número (ou '0' para encerrar): 4
Digite um número (ou '0' para encerrar): 2
Digite um número (ou '0' para encerrar): 3
Digite um número (ou '0' para encerrar): 0
A soma dos números é: 10

5. Conte quantas vezes o número 3 aparece em uma lista.

In [35]:
numeros = [1, 2, 3, 5, 3, 1, 3, 3, 2, 3]

quantidade = numeros.count(3)
print(f"O número 3 aparece {quantidade} vezes na lista")

O número 3 aparece 5 vezes na lista

6. Verifique se um nome digitado pelo usuário está em uma lista de nomes.

In [39]:
nomes = ["Clarita", "Ronildo", "Heleno"]

nome = input("Digite um nome:")

if nome in nomes:
  print(f"{nome} está presente na lista")
else:
  print(f"{nome} não está presente na lista")

Digite um nome:Clarita
Clarita está presente na lista

7. Faça um programa que leia 10 números e armazene em duas listas: uma com pares e outra com ímpares.

In [40]:
pares = []
impares = []

for i in range(10):
  numero = int(input(f"Digite o {i + 1}° número: "))
  if numero % 2 == 0:
    pares.append(numero)
  else:
    impares.append(numero)

print("\nNúmeros pares:", pares)
print("\nNúmeros ímpares:", impares)

Digite o 1° número: 1
Digite o 2° número: 2
Digite o 3° número: 3
Digite o 4° número: 4
Digite o 5° número: 5
Digite o 6° número: 6
Digite o 7° número: 7
Digite o 8° número: 8
Digite o 9° número: 9
Digite o 10° número: 0

Números pares: [2, 4, 6, 8, 0]

Números ímpares: [1, 3, 5, 7, 9]

8. Leia uma lista de 5 nomes e mostre a lista em ordem alfabética.

In [41]:
nomes = ["Bagi", "Cell", "Celina", "Will", "Nora"]

nomes.sort()
print(nomes)

['Bagi', 'Celina', 'Cell', 'Nora', 'Will']

9. Crie uma lista com 5 notas de alunos, calcule a média e diga quais alunos ficaram acima da média.

In [42]:
notas = [("Carlos", 10), ("Joana", 7), ("César", 2), ("Margarida", 10), ("Alice", 3)]

for nome, nota in notas:
  if nota > 5:
    print(f"{nome} ficou acima da média")
  else:
    print(f"{nome} ficou abaixo da média")

Carlos ficou acima da média
Joana ficou acima da média
César ficou abaixo da média
Margarida ficou acima da média
Alice ficou abaixo da média

10. Faça um programa que leia números do usuário até que ele digite 0. Depois, mostre a lista e a soma dos números.

In [44]:
numeros = []

while True:
  numero = int(input("Digite um número (ou '0' para encerrar): "))
  if numero ==  0 :
    break
  numeros.append(numero)

soma = sum(numeros)
print(f"Números digitados: {numeros}")
print(f"A soma dos números é: {soma}")

Digite um número (ou '0' para encerrar): 10
Digite um número (ou '0' para encerrar): 20
Digite um número (ou '0' para encerrar): 30
Digite um número (ou '0' para encerrar): 40
Digite um número (ou '0' para encerrar): 50
Digite um número (ou '0' para encerrar): 0
Números digitados: [10, 20, 30, 40, 50]
A soma dos números é: 150

11. Remova todos os números negativos de uma lista de inteiros.

In [54]:
numeros = [-1, -2, -3, -4, -5, -6, 2, 1, 0, 4]

for numero in numeros.copy():
    if numero < 0:
        numeros.remove(numero)

print(f"Números positivos: {numeros}")

Números positivos: [2, 1, 0, 4]

12. Substitua todos os números ímpares de uma lista por zero.

In [55]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for numero in numeros.copy():
    if numero % 2 != 0:
        numeros.remove(numero)
        numeros.append(0)

print(f"Números pares: {numeros}")

Números pares: [2, 4, 6, 8, 0, 0, 0, 0, 0]

13. Leia uma lista de números e crie uma nova lista apenas com os valores únicos (sem repetições).

In [59]:
numeros = [1,1,1,2,3,4,4,5,5,6,6]

for numero in numeros.copy():
  if numeros.count(numero) > 1:
    numeros.remove(numero)

print(f"Números únicos: {numeros}")

Números únicos: [1, 2, 3, 4, 5, 6]

14. Crie uma lista com 5 strings e conte quantas começam com a letra 'A'.

In [60]:
frutas = ["Abacaxi", "Amora", "Acerola", "Banana", "Uva"]

contador = 0

for fruta in frutas:
  if fruta.startswith("A"):
    contador += 1

print(f"Existem {contador} frutas que começam com a letra A")

Existem 3 frutas que começam com a letra A

15. Leia 10 números e ordene a lista do maior para o menor.

In [65]:
numeros = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

for numero in numeros:
  numeros.sort(reverse=True)

print(f"Números em ordem decrescente: {numeros}")

Números em ordem decrescente: [50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

16. Junte duas listas e remova os elementos repetidos.

In [68]:
listaA = [1,2, 3, 4, 5, 6, 7]
listaB = [1, 2, 3, 4, 5, 6, 7, 8, 9]

listaC = listaA + listaB
print(f"Juntando as listas: {listaC}")

for numero in listaC.copy():
  if listaC.count(numero) > 1:
    listaC.remove(numero)

print(f"Lista sem repetição: {listaC}")

Juntando as listas: [1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Lista sem repetição: [1, 2, 3, 4, 5, 6, 7, 8, 9]

17. Faça uma função que recebe uma lista de números e retorna uma nova lista com o fatorial de cada número.

In [69]:
import math

def lista_fatoriais(lista):
    return [math.factorial(num) for num in lista]

numeros = [0, 1, 3, 5]
resultado = lista_fatoriais(numeros)

print(f"Lista original: {numeros}")
print(f"Fatoriais: {resultado}")

Lista original: [0, 1, 3, 5]
Fatoriais: [1, 1, 6, 120]

18. Faça uma função que recebe uma lista e retorna outra com os elementos em ordem reversa (sem usar .reverse() ou [::-1]).

In [70]:
def inverter_lista(lista):
    invertida = []
    for elemento in lista:
        invertida.insert(0, elemento)  # insere sempre no início
    return invertida

# Exemplo
nomes = ["Ana", "Bruno", "Carlos", "Diana"]
print("Original:", nomes)
print("Invertida:", inverter_lista(nomes))

Original: ['Ana', 'Bruno', 'Carlos', 'Diana']
Invertida: ['Diana', 'Carlos', 'Bruno', 'Ana']

19. Simule um carrinho de compras: adicione produtos até que o usuário digite 'fim' e, no final, mostre o carrinho.

In [74]:
carrinho = []

while True:
  compra = input("Digite suas compras (ou 'fim' para encerrar): ")
  if compra ==  'fim' :
    break
  carrinho.append(compra)

print(f"Itens do carrinho: {carrinho}")

Digite suas compras (ou 'fim' para encerrar): alface
Digite suas compras (ou 'fim' para encerrar): pepino
Digite suas compras (ou 'fim' para encerrar): azeitona
Digite suas compras (ou 'fim' para encerrar): tomate
Digite suas compras (ou 'fim' para encerrar): cenoura
Digite suas compras (ou 'fim' para encerrar): batata
Digite suas compras (ou 'fim' para encerrar): fim
Itens do carrinho: ['alface', 'pepino', 'azeitona', 'tomate', 'cenoura', 'batata']

20. Desenvolva um menu de opções para gerenciar uma lista de tarefas: adicionar, remover, exibir e sair.

In [77]:
tarefas = []
print("1. Adicionar tarefa")
print("2. Remover tarefa")
print("3. Exibir tarefas")
print("4. Sair")

while True:
  opcao = int(input("Digite o que deseja realizar: "))
  if opcao ==  1 :
    tarefa = input("Digite sua tarefa: ")
    tarefas.append(tarefa)
  elif opcao == 2:
    tarefa = input("Digite a tarefa que deseja excluir: ")
    tarefas.remove(tarefa)
  elif opcao == 3:
    print("Tarefas:")
    print(tarefas)
  elif opcao == 4:
    break

1. Adicionar tarefa
2. Remover tarefa
3. Exibir tarefas
4. Sair
Digite o que deseja realizar: 3
Tarefas:
[]
Digite o que deseja realizar: 1
Digite sua tarefa: Lavar roupa
Digite o que deseja realizar: 1
Digite sua tarefa: Lavar louça
Digite o que deseja realizar: 2
Digite a tarefa que deseja excluir: Lavar louça
Digite o que deseja realizar: 1
Digite sua tarefa: Limpar armarios
Digite o que deseja realizar: 3
Tarefas:
['Lavar roupa', 'Limpar armarios']
Digite o que deseja realizar: 4